@font-face {
  font-family: 'h5p-theme';
  src:  url('fonts/h5p-theme.eot?bs8egi');
  src:  url('fonts/h5p-theme.eot?bs8egi#iefix') format('embedded-opentype'),
    url('fonts/h5p-theme.ttf?bs8egi') format('truetype'),
    url('fonts/h5p-theme.woff?bs8egi') format('woff'),
    url('fonts/h5p-theme.svg?bs8egi#h5p-theme') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'h5p-theme' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-previous:before {
  content: "\e900";
}
.icon-next:before {
  content: "\e901";
}
.icon-feedback-incorrect:before {
  content: "\e902";
}
.icon-feedback-correct:before {
  content: "\e903";
}
.icon-reporticon:before {
  content: "\e904";
}
.icon-show-solutiuons:before {
  content: "\e905";
}
.icon-retry:before {
  content: "\e906";
}
.icon-flip:before {
  content: "\e907";
}
.icon-check-circle:before {
  content: "\e908";
}
.icon-book:before {
  content: "\e909";
}
.icon-report:before {
  content: "\e90a";
}
.icon-square:before {
  content: "\e90b";
}
.icon-check-square:before {
  content: "\e90c";
}
.icon-radio-checked:before {
  content: "\e90d";
}
.icon-radio:before {
  content: "\e90e";
}
.icon-move:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e910";
}
.icon-download:before {
  content: "\e911";
}
.icon-copy-03:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e913";
}
.icon-fullscreen-exit:before {
  content: "\e914";
}
.icon-fullscreen-enter:before {
  content: "\e915";
}
.icon-close-menu:before {
  content: "\e916";
}
.icon-info-outlined:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e918";
}
.icon-plus1:before {
  content: "\e919";
}
.icon-minus:before {
  content: "\e91a";
}
.icon-volume-up:before {
  content: "\e91b";
}
.icon-volume-mute:before {
  content: "\e91c";
}
.icon-copy-text:before {
  content: "\e91d";
}
.icon-pause:before {
  content: "\e91e";
}
.icon-play:before {
  content: "\e91f";
}
.icon-plus-full-color:before {
  content: "\e920";
}
.icon-close-full-color:before {
  content: "\e921";
}
.icon-info-full-color:before {
  content: "\e922";
}
.icon-minus-full-color:before {
  content: "\e923";
}
.icon-question-full-color:before {
  content: "\e924";
}
.icon-exclamation-full-color:before {
  content: "\e925";
}
.icon-check-full-color:before {
  content: "\e926";
}
