:root {
  /* TODO: Set dynamically */

  
  /* LIGHT EXAMPLE COLORS */
  
  /*BLUE THEME */
  --main-cta-base: #505DDD;
  --secondary-cta-base: #0c1547;
  --alternative-base: #EEEFFA;
  --background: #F0F0FC;
  --focus: #3b54a5;

  --main-cta-light: #5764E7;
  --main-cta-dark: #2938D1;
  --contrast-cta: #E0F1FF;
  --contrast-cta-white: #505ddd;

  --contrast-cta-light: color-mix(in srgb, var(--main-cta-base), transparent 90%);

  --secondary-cta-light: #101b59;
  --secondary-cta-dark: #090f34;
  --secondary-contrast-cta: #e7eafa;
  
  /* END blue  THEME*/
  /* PURPLE THEME 
  --main-cta-base: #834DD5;
  --secondary-cta-base: #000000;
  --alternative-base: #F1EBFA;
  --background: #d0bcee; 
  --focus: #F1EBFA;

  --main-cta-light: #8347DD;
  --main-cta-dark: #692EC2;
  --contrast-cta: #ffffff;
  --contrast-cta-white: #834DD5;

  --contrast-cta-light: rgba(0, 80, 158, 0.1);

  --secondary-cta-light: #333333;
  --secondary-cta-dark: #311B50;
  --secondary-contrast-cta: #F3F1F5;

    END PURPLE THEME*/
  
  
  --alternative-light: #F8F9FE;
  --alternative-dark: #DCDFFA;
  --alternative-darker: #ced1ee;
  
  --text-primary: #101729;
  --text-secondary: #354054;
  --text-third: #737373;
  --ui-base: #FFFFFF;
  --stroke-1: #DCDFFA;
  --stroke-2: #EDEEFB;
  --stroke-3: #E5E5E5;
  --border-radius-large: 0.5rem;
  --border-radius-medium: 0.375rem;
  --border-radius-small: 0.25rem;
  --font-name: "Inter", sans-serif;
 
 
  --feedback-correct-main: #256D1D;
  --feedback-correct-secondary: #f3fcf0;
  --feedback-correct-third: #cff1c2;
	
  --feedback-incorrect-main: #a13236;
  --feedback-incorrect-secondary: #faf0f4;
  --feedback-incorrect-third: #f6dce7;
	

   /* DARK EXAMPLE COLORS
  --main-cta-base: #1765E3;
  --secondary-cta-base: #f6bf1b;
  --alternative-base: #33313B;
  --background: #000000; 
  --focus: #1765E3;


  --main-cta-light: #2F7CFA;
  --main-cta-dark: #25539d;
  --contrast-cta: #ffffff;
  --contrast-cta-white: #00509E;
  --contrast-cta-light: rgba(0, 80, 158, 0.1);

  --secondary-cta-light: #ffc926;
  --secondary-cta-dark: #FFC107;
  --secondary-contrast-cta: #000000;
  
  --alternative-light: #3e3b48;
  --alternative-dark: #2e2c36;
  --alternative-darker: #1d1c23;

  --text-primary: #FFFFFF;
  --text-secondary: #BEC1C5;
  --text-third: #919191;
  --ui-base: #1C1C1C;
  --stroke-1: #33313B;
  --stroke-2: #3b3b3b;
  --stroke-3: #33313B;
 
  --font-name: "Inter", sans-serif;
 
  --feedback-correct-main: #dbf5d0;
  --feedback-correct-secondary: #293227;
  --feedback-correct-third: #53624d;
	
  --feedback-incorrect-main: #fbd7d8;
  --feedback-incorrect-secondary: #470a22 ;
  --feedback-incorrect-third: #80214b;
	
  --border-radius-large: 0.5rem;
  --border-radius-medium: 0.375rem;
  --border-radius-small: 0.25rem;
  */
 

  /* SPACING */
  
   /* Small (default) */
  --spacing-xl-primary-small: calc(var(--spacing-xl-primary-medium)*0.8);
  --spacing-primary-small: calc(var(--spacing-primary-medium)*0.8);
  --spacing-secondary-small: calc(var(--spacing-secondary-medium)*0.8);
  --spacing-third-small: calc(var(--spacing-third-medium)*0.8);
  --spacing-fourth-small: calc(var(--spacing-fourth-medium)*0.8);
  --spacing-fifth-small: calc(var(--spacing-fifth-medium)*0.8);
  
  --font-size-xxl-small: calc(var(--font-size-xxl-medium)*1);
  --font-size-xl-small: calc(var(--font-size-xl-medium)*1);
  --font-size-l-small: calc(var(--font-size-l-medium)*1);
  --font-size-m-small: calc(var(--font-size-m-medium)*1);
  --font-size-s-small: calc(var(--font-size-s-medium)*1);

  /* Medium */
  --spacing-xl-primary-medium: calc(var(--spacing-xl-primary-large)*0.8);
  --spacing-primary-medium: calc(var(--spacing-primary-large)*0.8);
  --spacing-secondary-medium: calc(var(--spacing-secondary-large)*0.8);
  --spacing-third-medium: calc(var(--spacing-third-large)*0.8);
  --spacing-fourth-medium: calc(var(--spacing-fourth-large)*0.8);
  --spacing-fifth-medium: calc(var(--spacing-fifth-large)*0.8);
  
  --font-size-xxl-medium: calc(var(--font-size-xxl-large)*0.9);
  --font-size-xl-medium: calc(var(--font-size-xl-large)*0.9);
  --font-size-l-medium: calc(var(--font-size-l-large)*0.9);
  --font-size-m-medium: calc(var(--font-size-m-large)*0.9);
  --font-size-s-medium: calc(var(--font-size-s-large)*0.9);

  /* Large */
  --spacing-xl-primary-large: 3rem;
  --spacing-primary-large: 2rem;
  --spacing-secondary-large: 1.5rem;
  --spacing-third-large: 1rem;
  --spacing-fourth-large: 0.65rem;
  --spacing-fifth-large: 0.5rem;
  --spacing-primary-large-small-screen: 2rem;
  
  --font-size-xxl-large: 1.65rem;
  --font-size-xl-large: 1.25rem;
  --font-size-l-large: 1.125rem;	
  --font-size-m-large: 1rem;
  --font-size-s-large: 0.85rem;
}

.h5p-content {
  --spacing-xl: var(--spacing-xl-primary-small);
  --spacing-l: var(--spacing-primary-small);
  --spacing-m: var(--spacing-secondary-small);
  --spacing-s: var(--spacing-third-small);
  --spacing-xs: var(--spacing-fourth-small);
  --spacing-xxs: var(--spacing-fifth-small);
  --font-size-xxl: var(--font-size-xxl-small);
  --font-size-xl: var(--font-size-xl-small);
  --font-size-l: var(--font-size-l-small);	
  --font-size-m: var(--font-size-m-small);	
  --font-size-s: var(--font-size-s-small);	
}

.h5p-content.h5p-medium {
  --spacing-xl: var(--spacing-xl-primary-medium);
  --spacing-l: var(--spacing-primary-medium);
  --spacing-m: var(--spacing-secondary-medium);
  --spacing-s: var(--spacing-third-medium);
  --spacing-xs: var(--spacing-fourth-medium);
  --spacing-xxs: var(--spacing-fifth-medium);
  --font-size-xxl: var(--font-size-xxl-medium);
  --font-size-xl: var(--font-size-xl-medium);
  --font-size-l: var(--font-size-l-medium);	
  --font-size-m: var(--font-size-m-medium);	
  --font-size-s: var(--font-size-s-medium);
}

.h5p-content.h5p-large {
  --spacing-xl: var(--spacing-xl-primary-large);
  --spacing-l: var(--spacing-primary-large);
  --spacing-m: var(--spacing-secondary-large);
  --spacing-s: var(--spacing-third-large);
  --spacing-xs: var(--spacing-fourth-large);
  --spacing-xxs: var(--spacing-fifth-large);
  --font-size-xxl: var(--font-size-xxl-large);
  --font-size-xl: var(--font-size-xl-large);
  --font-size-l: var(--font-size-l-large);	
  --font-size-m: var(--font-size-m-large);	
  --font-size-s: var(--font-size-s-large);

  /* EXAMPLE: Conditional responsiveness */
  /* Small screens */
  /* @media (max-width: 576px) {
    --spacing-l: var(--spacing-primary-large-small-screen);
  } */
}
