:root {
  /* TODO: Set dynamically */

  /* COLORS */
  /* User picked */
  --main-cta-base: #00509E;
  --secondary-cta-base: #482776;
  --alternative-base: #EEEFFA;
  --background: #CFDAF1; /*#CFDAF1*/

  /* User generated */
  --main-cta-light: #006AD1;
  --main-cta-dark: #00366B;
  --contrast-cta: #E0F1FF;
  --contrast-cta-white: #00509E;
  --contrast-cta-light: rgba(0, 80, 158, 0.1);

  --secondary-cta-light: #60349D;
  --secondary-cta-dark: #311B50;
  --contrast-cta: #F3F1F5;

  --alternative-light: #F7F8FD;
  --alternative-dark: #E7E9F8;
  --alternative-darker: #DFE1F6;

  /* Fixed */
  --text-primary: #101729;
  --text-secondary: #354054;
  --text-third: #737373;
  --ui-base: #FFFFFF;
  --stroke-1: #CDD1F6;
  --stroke-2: #EDEEFB;
  --stroke-3: #E5E5E5;
  --focus: #3b54a5;
  --font-name: "Inter", sans-serif;
	

	/*

	
  --text-primary: #ffffff;
  --text-secondary: #ffffff;
  --text-third: #ffffff;
  --ui-base: #101729;
  --stroke-1: #CDD1F6;
  --stroke-2: #EDEEFB;
  --stroke-3: #E5E5E5;
  --focus: #3b54a5;		
	*/
	
	
	
  --feedback-correct-main: #256D1D;
  --feedback-correct-secondary: #f3fcf0;
  --feedback-correct-third: #dbf5d0;
	
  --feedback-incorrect-main: #a13236;
  --feedback-incorrect-secondary: #faf0f4;
  --feedback-incorrect-third: #efcfdd;
	
  --border-radius-large: 0.5rem;
  --border-radius-medium: 0.25rem;

  /* SPACING */
  /* Small (default) */
  --spacing-primary-small: 1rem;
  --spacing-secondary-small: 0.5rem;

  /* Medium */
  --spacing-primary-medium: 2rem;
  --spacing-secondary-medium: 1rem;

  /* Large */
  --spacing-primary-large: 3rem;
  --spacing-secondary-large: 2rem;
  --spacing-third-large: 1rem;
  --spacing-fourth-large: 0.65rem;
  --spacing-primary-large-small-screen: 2rem;
}

.h5p-content {
  --spacing-primary: var(--spacing-primary-small);
  --spacing-secondary: var(--spacing-secondary-small);
}

.h5p-content.h5p-medium {
  --spacing-primary: var(--spacing-primary-medium);
  --spacing-secondary: var(--spacing-secondary-medium);
}

.h5p-content.h5p-large {
  --spacing-primary: var(--spacing-primary-large);
  --spacing-secondary: var(--spacing-secondary-large);

  /* Small screens */
  @media (max-width: 576px) {
    --spacing-primary: var(--spacing-primary-large-small-screen);
  }
}
