@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: 'h5p-theme';
  src: url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.eot?h1atjl');
  src: url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.eot?h1atjl#iefix') format('embedded-opentype'), url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.ttf?h1atjl') format('truetype'), url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.woff?h1atjl') format('woff'), url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.svg?h1atjl#h5p-core-30') format('svg');
  font-weight: normal;
  font-style: normal;
}

.h5p-theme .h5p-content {
  font-family: var(--h5p-theme-font-name);
}
.h5p-theme *:before, .h5p-theme *:after{
  font-weight: normal;
}
/* Form elements don't naturally inherit font-family */
.h5p-theme .h5p-content input, .h5p-theme .h5p-content textarea, .h5p-theme .h5p-content button {
  font-family: inherit;
}

/* A h5p-theme version of selectors is included sometimes to override old css in e.g. Question and JoubelUI */

/* PATTERN (used in backgrounds of certain elements like results/summary screens, welcome screen, feedback section etc. */
.h5p-theme-pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--h5p-theme-main-cta-dark);
  opacity: 25%;
  -webkit-mask-image: url(./../images/pattern.svg);
  mask-image: url(./../images/pattern.svg);
  mask-size: 40%;
  background-repeat: repeat;
}

/* Result screen */
.h5p-theme-results-banner {
  position: relative;
  display: flex;
  background-color: var(--h5p-theme-main-cta-base);
  color: var(--h5p-theme-contrast-cta);
  padding: var(--h5p-theme-spacing-xl)  var(--h5p-theme-spacing-xl) calc(var(--h5p-theme-spacing-xl)*1.2) var(--h5p-theme-spacing-xl);
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 576px) {
    padding: var(--h5p-theme-spacing-m)  var(--h5p-theme-spacing-m) calc(var(--h5p-theme-spacing-m)*1.2) var(--h5p-theme-spacing-m);
  }
}

.h5p-theme-results-title {
  color: var(--h5p-theme-contrast-cta);
  font-size: var(--h5p-theme-font-size-xxl);
  font-weight: 600;
  z-index: 1;
  @media (max-width: 576px) {
      font-size: var(--h5p-theme-font-size-xl);
  }
}

.h5p-theme-results-score {
  color: var(--h5p-theme-contrast-cta);
  font-size: var(--h5p-theme-font-size-xl);
  font-weight: 600;
  z-index: 1;
    @media (max-width: 576px) {
      font-size: var(--h5p-theme-font-size-l);
  }
}

.h5p-theme-results-score span {
  color: var(--h5p-theme-contrast-cta);
  padding: 0 0.2em;
}

.h5p-theme-results-list-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  clear: both;
  margin: calc(-1 * var(--h5p-theme-spacing-l)) var(--h5p-theme-spacing-xl) var(--h5p-theme-spacing-l) var(--h5p-theme-spacing-xl);
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.08);
  background-color: var(--h5p-theme-ui-base);
  border-radius: var(--h5p-theme-border-radius-small);
  position: relative;
  z-index: 1000;
  max-height: 33rem;
  @media (max-width: 576px) {
    margin: calc(-1 * var(--h5p-theme-spacing-xs)) var(--h5p-theme-spacing-s) var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-s);
  }
}

/* Reset margin-top if not first list on page*/
.h5p-theme-results-list-container ~ .h5p-theme-results-list-container {
  margin-top: 0;
}

.h5p-theme-results-list {
  list-style-type: none;
  overflow: hidden;
  overflow-y: auto;
  padding-inline-start: 0;
  padding: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-m);
  flex: 1;
    @media (max-width: 576px) {
    padding: 0 var(--h5p-theme-spacing-s);
  }
}

.h5p-theme-results-list-heading {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.08);   
  border-bottom: none;
  padding: 0 var(--h5p-theme-spacing-m);
}

.h5p-theme-results-list-heading h3 {
  font-size: var(--h5p-theme-font-size-xl);
  margin: var(--h5p-theme-font-size-m) 0;
  width: 100%;
  text-align: left;

  @media (max-width: 576px) {
    font-size: var(--h5p-theme-font-size-m);
    margin: var(--h5p-theme-font-size-s) 0;
  }
}

.h5p-theme-results-list-heading h3:last-child:not(:first-child) {
  grid-column: 3;
}

.h5p-theme-results-list-item,
.h5p-theme-results-list-heading {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  color: var(--h5p-theme-text-primary);
  justify-items: center;
  border-bottom: solid 1px var(--h5p-theme-stroke-1);
  line-height: 1.5rem;
}

/* Only has question and score */
.h5p-theme-results-list-item:has(.h5p-theme-results-question-container:first-child),
.h5p-theme-results-list-container:has(.h5p-theme-results-question-container:first-child) .h5p-theme-results-list-heading {
  grid-template-columns: 9fr 1fr;
}

.h5p-theme-results-list-item:last-child {
  border-bottom: none;
}

.h5p-theme-results-question-container {
	width: -webkit-fill-available;
  width: 100%;
  text-align: left;
	padding: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-m);
    @media(max-width: 576px) {
    padding: var(--h5p-theme-spacing-xxs) var(--h5p-theme-spacing-s);
  }
}

.h5p-theme-results-question {
  font-size: var(--h5p-theme-font-size-l);
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  @media(max-width: 576px) {
    font-size: var(--h5p-theme-font-size-m);
  }
}

.h5p-theme-results-question:not(:last-child) {
  margin-bottom: var(--h5p-theme-spacing-xs);
}

/* Custom scrollbar */
.h5p-theme-results-list::-webkit-scrollbar {
  background-color: var(--h5p-theme-ui-base);
  width: 0.5em;
  border-radius: 1em;
}

.h5p-theme-results-list::-webkit-scrollbar-thumb {
  background-color: var(--h5p-theme-text-primary);
  background-size: 24px 100%;
  border-radius: 0;
}

.h5p-theme-results-list::-webkit-scrollbar-button:vertical {
  background-size: 20px 20px;
  background-position-x: -4px;
  background-position-y: -3px;
  background-repeat: no-repeat;
}

.h5p-theme-results-list::-webkit-scrollbar-button:vertical:decrement,
.h5p-theme-results-list::-webkit-scrollbar-button:vertical:increment {
  display: none;
}

/* INPUT FIELD */
.h5p-theme-input {
  container-type: inline-size;
  display: flex;
  align-items: center;
  background-color: var(--h5p-theme-ui-base);
  box-shadow: inset 0px 0px 4px 4px rgba(117, 128, 147, 0.10);
  border-radius: var(--h5p-theme-border-radius-medium);
  border: 2px solid var(--h5p-theme-stroke-1);
  padding: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-xs);
  color: var(--h5p-theme-text-primary);
}
.h5p-theme-input::placeholder {
  color: var(--h5p-theme-text-third);
  opacity: 1; /* Firefox */
}
.h5p-theme-input:focus, .h5p-theme-input:focus-within {
  outline: none;
  /* box-shadow: 0 0 0.5em 0 var(--h5p-theme-main-cta-base);*/
  border-color: var(--h5p-theme-main-cta-base);
}

.h5p-theme-input:has(.h5p-theme-primary-cta:focus) {
  border-color: var(--h5p-theme-stroke-1);
}

.h5p-theme-input input {
  display: inline-block;
  width: 100%;
  padding-top: var(--h5p-theme-spacing-xs);
  padding-bottom: var(--h5p-theme-spacing-xs);
  font-size: var(--h5p-theme-font-size-m);
  word-wrap: break-word;
  border: none;
  background: none;
  color: var(--h5p-theme-text-primary);
}
.h5p-theme-input input:focus {
  outline: none;
}
.h5p-theme-input.h5p-correct {
  color: var(--h5p-theme-feedback-correct-main);
  background-color: var(--h5p-theme-feedback-correct-secondary);
  border-color: var(--h5p-theme-feedback-correct-third);
  box-shadow: none;
}
.h5p-theme-input.h5p-correct input {
  color: var(--h5p-theme-feedback-correct-main);
  padding: var(--h5p-theme-spacing-xs) 0;
}
.h5p-theme-input.h5p-wrong {
  color: var(--h5p-theme-feedback-incorrect-main);
  background-color: var(--h5p-theme-feedback-incorrect-secondary);
  border-color: var(--h5p-theme-feedback-incorrect-third);
  box-shadow: none;
}
.h5p-theme-input.h5p-wrong input {
  color: var(--h5p-theme-feedback-incorrect-main);
  padding: var(--h5p-theme-spacing-xs) 0;
}

/* NAVIGATION BUTTONS */
.h5p-theme-nav-button,
.h5p-theme .h5p-theme-nav-button {
  background-color: var(--h5p-theme-secondary-cta-base);
  color: var(--h5p-theme-secondary-contrast-cta);
  font-size: var(--h5p-theme-font-size-m);
  font-weight: bold;
  border-radius: var(--h5p-theme-border-radius-medium);
  display: inline-block;
  padding: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-s);
  border: none;
  transition: all 0.1s linear 0s;
  cursor: pointer;
}

.h5p-theme-nav-button[aria-disabled="true"],
.h5p-theme-nav-button:disabled {
  opacity: 0.4;
}

.h5p-theme .h5p-theme-nav-button:hover {
  background-color: var(--h5p-theme-secondary-cta-light);
  color: var(--h5p-theme-secondary-contrast-cta);
  border-color: var(--h5p-theme-secondary-cta-light);;
}

.h5p-theme .h5p-theme-nav-button:active {
  background-color: var(--h5p-theme-secondary-cta-dark);
  color: var(--h5p-theme-secondary-contrast-cta);
  border-color: var(--h5p-theme-secondary-cta-dark);
}

.h5p-theme .h5p-theme-next {
  justify-self: flex-end;
  grid-column: 3;
  min-width: max-content;
}

.h5p-theme-next:after {
  font-family: 'h5p-theme';
  content: "\e901";
  margin-left: var(--h5p-theme-spacing-xxs);
  display: inline-block;
}

.h5p-theme  .h5p-theme-previous {
  justify-self: flex-start;
  min-width: max-content;
}

.h5p-theme-previous:before {
  font-family: 'h5p-theme';
  content: "\e900";
  margin-right: var(--h5p-theme-spacing-xxs);
  display: inline-block;
}

.h5p-theme-nav-button.h5p-theme-label {
  display: inline-block;
}

.h5p-navigation .h5p-theme-show-results {
  padding: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-l);
}

.h5p-navigation .h5p-theme-show-results:hover {
  padding: var(--h5p-theme-spacing-xs) calc(var(--h5p-theme-spacing-l) - 0.75em);
}
.h5p-theme .h5p-navigation {
  display: grid;
  grid-gap: var(--h5p-theme-spacing-l);
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  justify-items: center;
  container-type: inline-size;
  container-name: h5p-navigation;
  overflow: hidden;
  padding: var(--h5p-theme-spacing-m);
  clear: both;
  max-width: 100%;
  /* Min height is the height of a secondary button */
  min-height: calc(var(--h5p-theme-spacing-xs)*2 + 1.5em + 3px*2);
  background-color: var(--h5p-theme-ui-base);
  border-top: 1px solid var(--h5p-theme-stroke-1);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
}

.h5p-theme .h5p-navigation .h5p-joubelui-progressbar {
  grid-column: 2;
  width: 100%;
  background-color: var(--h5p-theme-contrast-cta-light);
  border: 1px solid var(--h5p-theme-contrast-cta-white);
  border-radius: 8px;
  padding: 5px;
}

/* If smaller than 700px */
@container h5p-navigation (max-width: 700px) {
  .h5p-theme-label {
    display: none;
  }

  .h5p-theme-nav-button {
    border-radius: 25rem;
    height: var(--h5p-theme-spacing-xl);
    width: var(--h5p-theme-spacing-xl);
    padding: 0;
  }

  .h5p-theme-next:after, .h5p-theme-previous:before {
    margin: 0;
  }

  /* Primary CTA if inside navigation */
  .h5p-navigation .h5p-theme-primary-cta {
    height: var(--h5p-theme-spacing-xl);
    width: var(--h5p-theme-spacing-xl);
    padding: 0 !important;
    text-indent: 0 !important; /* TODO REMOVE IMPORTANT but make sure Finish button looks good in Flashcards and Question set */
  }

  .h5p-navigation .h5p-theme-primary-cta:hover {
    height: var(--h5p-theme-spacing-xl);
    width: var(--h5p-theme-spacing-xl);
    padding: 0;
  }

  .h5p-navigation .h5p-theme-primary-cta span {
    display: none;
  }
  
  .h5p-navigation .h5p-theme-primary-cta:before {
    text-indent: 0;
    position: unset;
    width: 100%;
    opacity: 1;
    transform: translate(0, 0);
  }
  .h5p-navigation .h5p-theme-primary-cta:hover:before {
    text-indent: 0;
    transform: translate(0, 0);
  }
}

/* PRIMARY CTA (USED FOR VALIDATION BUTTONS) */
.h5p-theme-primary-cta,
.h5p-theme .h5p-theme-primary-cta,
.h5p-content:has(.h5p-theme) .h5p-dialog-ok-button {
  padding: var(--h5p-theme-spacing-xs) calc(var(--h5p-theme-spacing-l));
  background-color: var(--h5p-theme-main-cta-base);
  color: var(--h5p-theme-contrast-cta);
  border-radius: var(--h5p-theme-border-radius-medium);
  font-weight: 600;
  cursor: pointer;
  line-height: 1;
  font-size: var(--h5p-theme-font-size-l);
  transition: all 0.1s linear 0s;
  transition-property: text-indent, padding;
  border: solid 3px var(--h5p-theme-main-cta-base);
}

.h5p-theme-primary-cta:hover,
.h5p-theme .h5p-theme-primary-cta:hover {
  padding: var(--h5p-theme-spacing-xs) calc(var(--h5p-theme-spacing-l) - 0.75em);
  background-color: var(--h5p-theme-main-cta-light);
  border-color: var(--h5p-theme-main-cta-light);
  text-indent: 1.5em;
}

.h5p-theme-primary-cta:active,
.h5p-theme .h5p-theme-primary-cta:active,
.h5p-content:has(.h5p-theme) .h5p-dialog-ok-button:active {
  background-color: var(--h5p-theme-main-cta-dark);
  border-color: var(--h5p-theme-main-cta-dark);
}

.h5p-theme-primary-cta:before {
  display: inline-block;
  position: absolute;
  font-family: 'h5p-theme';
  text-indent: -1.5em;
  opacity: 0;
  transform: translate(10px, 10px);
  transition: all 0.1s linear 0s;
  transition-property: transform, opacity;
  font-weight: normal;
}

.h5p-theme-primary-cta:hover:before {
  opacity: 1;
  transform: translate(0, 0);
}

.h5p-theme-primary-cta.h5p-theme-check:before {
  content: "\e908";
}

.h5p-theme-primary-cta.h5p-theme-book:before {
  content: "\e909";
}

.h5p-theme-primary-cta.h5p-theme-flip:before {
  content: "\e907";
}
.h5p-theme-primary-cta.h5p-theme-reveal-answer:before {
  content: "\e905";
}

.h5p-theme-show-results:before {
  content: "\e90a";
  font-family: "h5p-theme";
}

/* If the container is smaller than 200px */
@container (max-width: 200px) {
  .h5p-theme-primary-cta:hover {
    text-indent: 0;
    padding: var(--h5p-theme-spacing-s) var(--h5p-theme-spacing-l);
  }

  .h5p-theme-primary-cta span {
    display: none;
  }

  .h5p-theme-primary-cta:before {
    position: unset;
    width: 100%;
    opacity: 1;
    transform: translate(var(--h5p-theme-spacing-s), 0);
  }

  .h5p-theme-primary-cta:hover:before {
    transform: translate(var(--h5p-theme-spacing-s), 0);
  }
}

/* SECONDARY CTA (USED FOR SHOW SOLTUIONS, RETRY AND SIMILAR BUTTONS) */
.h5p-theme-secondary-cta,
.h5p-theme .h5p-theme-secondary-cta {
  background-color: var(--h5p-theme-ui-base);
  color: var(--h5p-theme-main-cta-base);
  border-radius: var(--h5p-theme-border-radius-medium);
  font-weight: 600;
  border: solid 3px var(--h5p-theme-main-cta-base);
  padding: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-s);
  font-size: var(--h5p-theme-font-size-l);
  transition: all 0.1s linear 0s;
  width: fit-content;
  line-height: 1;
}

.h5p-theme-secondary-cta:hover,
.h5p-theme .h5p-theme-secondary-cta:hover {
  background-color: var(--h5p-theme-main-cta-base);
  border-color: var(--h5p-theme-main-cta-base);
  color: var(--h5p-theme-contrast-cta);
  cursor: pointer;
}

.h5p-theme-secondary-cta:active,
.h5p-theme .h5p-theme-secondary-cta:active {
  background-color: var(--h5p-theme-main-cta-dark);
  border-color: var(--h5p-theme-main-cta-dark);
  color: var(--h5p-theme-contrast-cta);
}

.h5p-theme-secondary-cta:before {
  display: inline-block;
  font-family: 'h5p-theme';
  margin-right: var(--h5p-theme-spacing-xxs);
  font-weight: normal;
}

.h5p-theme-secondary-cta.h5p-theme-retry:before {
  content: "\e906";
}
.h5p-theme-secondary-cta.h5p-theme-done:before {
  content: "\e908";
}
.h5p-theme-secondary-cta.h5p-theme-done:download {
  content: "\e911";
}

/* If the container is smaller than 350px */
@container (max-width: 350px) {
  .h5p-theme-secondary-cta:hover {
    text-indent: 0;
    padding: var(--h5p-theme-spacing-s) var(--h5p-theme-spacing-l);
  }

  .h5p-theme-secondary-cta span {
    display: none;
  }

  .h5p-theme-secondary-cta:before {
    position: unset;
    width: 100%;
    margin-right: unset;
    opacity: 1;
    transform: translate(0, 0);
  }

  .h5p-theme-secondary-cta:hover:before {
    transform: translate(0, 0);
  }
}

/* USED FOR QUESTION DESCRIPTIONS */
.h5p-theme-question-description {
  font-size: var(--h5p-theme-font-size-xl);
  color: var(--h5p-theme-text-primary);
  font-weight: 600;
}

.h5p-theme-lines {
  line-height: var(--h5p-theme-spacing-xl);
  -webkit-background-size: 100% var(--h5p-theme-spacing-xl);
  background-size: 100% var(--h5p-theme-spacing-xl);
  background-image: -moz-linear-gradient(transparent calc(var(--h5p-theme-spacing-xl) - 1px), var(--h5p-theme-alternative-base) 0px);
  background-image: -webkit-linear-gradient(transparent calc(var(--h5p-theme-spacing-xl) - 1px), var(--h5p-theme-alternative-base) 0);
}

/* RESULT SCREEN ANSWERS */
.h5p-theme-results-answer {
  margin-right: 4.5em;
  font-size: var(--h5p-theme-font-size-m);
  overflow-wrap: break-word;
  color: var(--h5p-theme-text-third);
}

.h5p-theme-results-answer .h5p-theme-results-incorrect,
.h5p-theme-results-answer .h5p-theme-results-correct,
.h5p-theme-results-answer .h5p-theme-results-solution {
  display: inline-block;
  border-radius: var(--h5p-theme-border-radius-small);
  padding: calc(var(--h5p-theme-spacing-xs)/8) var(--h5p-theme-spacing-xs);
  margin-bottom: calc(var(--h5p-theme-spacing-xs));
  border: solid 2px;
  font-weight: 600;
  font-size: var(--h5p-theme-font-size-m);
}

.h5p-theme-results-answer .h5p-theme-results-correct,
.h5p-theme-results-answer .h5p-theme-results-solution {
  background-color: var(--h5p-theme-feedback-correct-secondary);
  color: var(--h5p-theme-feedback-correct-main);
  border-color: var(--h5p-theme-feedback-correct-third);
}

.h5p-theme-results-answer .h5p-theme-results-incorrect {
  background-color: var(--h5p-theme-feedback-incorrect-secondary);
  color: var(--h5p-theme-feedback-incorrect-main);
  border-color: var(--h5p-theme-feedback-incorrect-third);
  margin-right: var(--h5p-theme-spacing-xxs);
}

.h5p-theme-results-answer .h5p-theme-results-solution {
  border-style:  dotted;
}

.h5p-theme-results-answer .h5p-theme-results-solution .h5p-theme-results-solution-label {
  color: var(--h5p-theme-feedback-correct-main);
  font-style: italic;
  font-weight: normal;
}

.h5p-theme-results-answer .h5p-theme-results-box-small {
  color: var(--h5p-theme-feedback-correct-main);
}

.h5p-theme-results-answer .h5p-theme-results-box-small:before {
  font-family: 'h5p-theme';
  content: "\e903";
}

.h5p-theme-results-answer .h5p-theme-results-box-small:not(:empty)::before {
  padding-right: var(--h5p-theme-spacing-xxs);
}

.h5p-theme-results-answer .h5p-theme-results-incorrect.h5p-theme-results-box-small {
  color: var(--h5p-theme-feedback-incorrect-main);
}

.h5p-theme-results-answer .h5p-theme-results-incorrect.h5p-theme-results-box-small:before {
  content: "\e902";
}

/* PAGE COUNTER */
.h5p-theme-progress {
  display: table;
  padding: var(--h5p-theme-spacing-xxs) var(--h5p-theme-spacing-s);
  color: var(--h5p-theme-contrast-cta-white);
  font-weight: bold;
  background-color: var(--h5p-theme-contrast-cta-light);
  border-radius: var(--h5p-theme-border-radius-medium);

  @media (max-width: 576px) {
    scale: 0.8;
  } 
}

/* SUMMARY */
.h5p-theme-results-points {
  color: var(--h5p-theme-text-primary);
  font-weight: bold;
  font-size: var(--h5p-theme-font-size-m);
  align-self: center;
}

/* CARDS */
.h5p-theme .h5p-cardholder {
  background-color: var(--h5p-theme-ui-base);
  border: 0.1em solid transparent;
  border-radius: var(--h5p-theme-border-radius-large);
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.08);
  border-color: var(--h5p-theme-stroke-1);
}

/* FOCUS EFFECTS */
.h5p-theme .h5p-theme-secondary-cta:focus-visible, 
.h5p-theme .h5p-theme-primary-cta:focus-visible,
.h5p-theme .h5p-theme-nav-button:focus-visible {
  outline: 2px ridge var(--h5p-theme-main-cta-base);
  border-radius: 4px;
  outline-offset: 2px;
}

/*TODO: move to column css*/
.h5p-column-content.h5p-question.h5p-theme,
.h5p-column-content.h5p-question-set.h5p-theme,
.h5p-column-content.h5p-accordion.h5p-theme,
.h5p-column-content.h5p-documentation-tool.h5p-theme,
.h5p-column-content.h5p-dialogcards.h5p-theme,
.h5p-column-content.h5p-audio-wrapper.h5p-theme,
.h5p-column-content.h5p-image-hotspots.h5p-theme,
.h5p-column-content.h5p-chart.h5p-theme, 
.h5p-column-content.h5p-collage,
.h5p-column-content.h5p-dragquestion,
.h5p-column-content.h5p-agamotto,
.h5p-column-content.h5p-essay,
.h5p-column-content .h5p-guess-answer,
.h5p-column-content.h5p-advanced-text,
.h5p-column-content.h5p-image,
.h5p-column-content.h5p-image-slider,
.h5p-column-content.h5p-link,
.h5p-column-content.h5p-memory-game,
.h5p-column-content.h5p-questionnaire-wrapper,
.h5p-column-content.h5p-timeline,
.h5p-column-content.h5p-multi-media-choice,
.h5p-column-content.h5p-video,
.h5p-column-content .h5p-audio-recorder {
  margin: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-xs);
  box-shadow: 0px 8px 19.9px 0px rgba(0, 0, 0, 0.05);
  border: solid 1px var(--h5p-theme-stroke-1);
  border-radius: var(--h5p-theme-border-radius-large);
  padding: var(--h5p-theme-spacing-xs);
  background-color: var(--h5p-theme-ui-base);
}

.h5p-container.h5p-standalone.h5p-column{
  padding: var(--h5p-theme-spacing-s);
  
    @media (max-width: 576px) {
      padding: 0;
    } 
  
}


.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-inner > h2 {
  background-color: var(--h5p-theme-ui-base);
  display: flex;
  align-items: center;
  color: var(--h5p-theme-text-primary);
  padding: var(--h5p-theme-spacing-m) var(--h5p-theme-spacing-l);
  font-weight: bold;
  border-bottom: 0;
  background-color: var(--h5p-theme-ui-base);
  border-radius: var(--h5p-theme-border-radius-large) var(--h5p-theme-border-radius-large) 0 0 ;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 12%);
}

.h5p-content:has(.h5p-theme) .h5p-inner {
  min-width: 35rem;
  color: var(--h5p-theme-text-primary);
  border-radius: var(--h5p-theme-border-radius-large);
}

.h5p-content:has(.h5p-theme) .h5p-reuse-dialog .h5p-inner {
  max-width: 45rem;
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog {
  background-color: rgba(0, 0, 0, 0.85);
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog.h5p-open .h5p-scroll-content {
  padding: var(--h5p-theme-spacing-xl) var(--h5p-theme-spacing-l) var(--h5p-theme-spacing-l) var(--h5p-theme-spacing-l);
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--h5p-theme-ui-base);
  border-radius: var(--h5p-theme-border-radius-large);
  grid-gap: var(--h5p-theme-spacing-s);
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog.h5p-copyrights-dialog.h5p-open .h5p-scroll-content {
  grid-template-columns: unset;
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog.h5p-embed-dialog.h5p-open .h5p-scroll-content, .h5p-expander-content,
.h5p-content:has(.h5p-theme) .h5p-popup-dialog.h5p-content-user-data-reset-dialog.h5p-open .h5p-scroll-content {
  display: block;
}

.h5p-content:has(.h5p-theme) .h5p-dialog-ok-button:hover {
  background-color: var(--h5p-theme-main-cta-light);
  border-color: var(--h5p-theme-main-cta-light);
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-close {
  font-size: var(--h5p-theme-font-size-xl);
  margin: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-s);
  color: var(--h5p-theme-text-primary);
  text-align: center;
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-close {
  display: inline-block;
  padding: var(--h5p-theme-spacing-s);
  border-radius: 50%;
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-close:after {
  font-family: "h5p-theme";
  content: "\e910";
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-close:hover {
  color: var(--h5p-theme-text-primary);
  background-color: var(--h5p-theme-alternative-base);
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-horizontal-line-text {
  display: none;
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-big-button:before {
  position: unset;
  font-family: 'h5p-theme';
  color: var(--h5p-theme-main-cta-base);
  display: block;
  margin-bottom: var(--h5p-theme-spacing-s); 
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-button-title {
  color: var(--h5p-theme-main-cta-base);
  font-size: var(--h5p-theme-font-size-l);
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-button-description {
  color: var(--h5p-theme-text-third);
  font-size: var(--h5p-theme-font-size-s);
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-big-button {
  padding: var(--h5p-theme-spacing-m);
  background: var(--h5p-theme-ui-base);
  border: solid 2px var(--h5p-theme-stroke-2);
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-copy-button:before {
  content: "\e912";
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-download-button:before {
  content: "\e911";
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-big-button:hover {
  background-color: var(--h5p-theme-main-cta-base);
}

.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-big-button:hover.h5p-big-button:before, 
.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-big-button:hover .h5p-button-title,
.h5p-content:has(.h5p-theme) .h5p-popup-dialog .h5p-big-button:hover .h5p-button-description {
  color: var(--h5p-theme-contrast-cta);
}

/* RESULT SCREEN */
.h5p-results-list-heading {
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.08);   
  border-bottom: none;
  padding: 0 var(--h5p-theme-spacing-m);
}

.h5p-results-list-heading h3 {
  font-size: var(--h5p-theme-font-size-xl);
  margin: 1rem 0;
  padding: 10px;
}

.h5p-theme .h5p-results-title {
  font-size: var(--h5p-theme-font-size-xxl);
  font-weight: 600;
  color: var(--h5p-theme-contrast-cta);
  z-index: 1;
}

.h5p-theme .h5p-results-score {
  color: var(--h5p-theme-contrast-cta);
  font-size: var(--h5p-theme-font-size-xl);
  font-weight: 600;
  z-index: 1;
}

.h5p-results-list-item, .h5p-results-list-heading {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  overflow: hidden;
  color: var(--h5p-theme-text-primary);
  justify-items: center;
  border-bottom: solid 1px var(--h5p-theme-stroke-1);
  line-height: 1.5rem;
  align-content: center;
}
