@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: 'h5p-theme';
  src: url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.eot?h1atjl');
  src: url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.eot?h1atjl#iefix') format('embedded-opentype'), url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.ttf?h1atjl') format('truetype'), url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.woff?h1atjl') format('woff'), url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.svg?h1atjl#h5p-core-30') format('svg');
  font-weight: normal;
  font-style: normal;
}

.h5p-content {
  font-family: var(--font-name);
}
.h5p-theme *:before{
  font-weight: normal;
}
/* Form elements don't naturally inherit font-family */
.h5p-content input, .h5p-content textarea, .h5p-content button {
  font-family: inherit;
}
/* PATTERN (used in backgrounds of certain elements like results/summary screens, welcome screen, feedback section etc. */
.h5p-theme-results-banner {
  position: relative;
  display: flex;
  background-color: var(--main-cta-base);
  color: var(--contrast-cta);
  padding: var(--spacing-xl) var(--spacing-xl) calc(2*var(--spacing-l)) var(--spacing-xl);
  justify-content: space-between;
}
.h5p-theme-pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-cta-dark);
  opacity: 25%;
  -webkit-mask-image: url(./../images/pattern.svg);
  mask-image: url(./../images/pattern.svg);
  mask-size: 40%;
  background-repeat: repeat;
}
/* INPUT FIELD */
.h5p-theme-input {
  container-type: inline-size;
  display: flex;
  align-items: center;
  background-color: var(--ui-base);
  box-shadow: inset 0px 0px 4px 4px rgba(117, 128, 147, 0.10);
  border-radius: var(--border-radius-medium);
  border: 2px solid var(--stroke-1);
  padding: var(--spacing-xs) var(--spacing-xs);
  color: var(--text-primary);
}
.h5p-theme-input::placeholder {
  color: var(--text-third);
  opacity: 1; /* Firefox */
}
.h5p-theme-input:focus, .h5p-theme-input:focus-within {
  outline: none;
  /* box-shadow: 0 0 0.5em 0 var(--main-cta-base);*/
  border-color: var(--main-cta-base);
}
.h5p-theme-input input {
  display: inline-block;
  width: 100%;
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  font-size: var(--font-size-m);
  word-wrap: break-word;
  border: none;
  background: none;
  color: var(--text-primary);
}
.h5p-theme-input input:focus {
  outline: none;
}
.h5p-theme-input.h5p-correct {
  color: var(--feedback-correct-main) !important;
  background-color: var(--feedback-correct-secondary) !important;
  border-color: var(--feedback-correct-third) !important;
  box-shadow: none;
}
.h5p-theme-input.h5p-correct input {
  color: var(--feedback-correct-main) !important;
  padding: var(--spacing-xs) 0;
}
.h5p-theme-input.h5p-wrong {
  color: var(--feedback-incorrect-main) !important;
  background-color: var(--feedback-incorrect-secondary) !important;
  border-color: var(--feedback-incorrect-third) !important;
  box-shadow: none;
}
.h5p-theme-input.h5p-wrong input {
  color: var(--feedback-incorrect-main) !important;
  padding: var(--spacing-xs) 0;
}


/* NAVIGATION BUTTONS */
.h5p-theme-nav-button {
  background-color: var(--secondary-cta-base);
  color: var(--secondary-contrast-cta);
  font-size: var(--font-size-m);
  font-weight: bold;
  border-radius: var(--border-radius-medium);
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-s);
  border: none;
  transition: all 0.1s linear 0s;
}
.h5p-theme-nav-button:hover {
  background-color: var(--secondary-cta-light);
  cursor: pointer;
}
.h5p-theme-nav-button:active {
  background-color: var(--secondary-cta-dark);
}
.h5p-theme-next:after {
  font-family: 'h5p-theme';
  content: "\e901";
  margin-left: 0.5rem;
  display: inline-block;
}
.h5p-theme-previous:before {
  font-family: 'h5p-theme';
  content: "\e900";
  margin-right: 0.5rem;
  display: inline-block;
}
.h5p-theme-label {
  display: inline-block;
}
.h5p-navigation .h5p-theme-show-results {
  padding: var(--spacing-xs) var(--spacing-l);
}
.h5p-navigation .h5p-theme-show-results:hover {
  padding: var(--spacing-xs) calc(var(--spacing-l) - 0.75em);
}

/* If smaller than 700px */
@container h5p-navigation (max-width: 700px) {
  .h5p-theme-label {
    display: none;
  }
  .h5p-theme-nav-button {
    border-radius: 25rem;
    height: var(--spacing-xl);
    width: var(--spacing-xl);
    padding: 0;
  }
  .h5p-theme-next:after, .h5p-theme-previous:before {
    margin: 0;
  }

  /* Primary CTA if inside navigation */
  .h5p-navigation .h5p-theme-primary-cta {
    border-radius: 25rem;
    height: var(--spacing-xl);
    width: var(--spacing-xl);
    padding: 0;
  }

  .h5p-navigation .h5p-theme-primary-cta:hover {
    text-indent: 0;
    border-radius: 25rem;
    height: var(--spacing-xl);
    width: var(--spacing-xl);
    padding: 0;
  }

  .h5p-navigation .h5p-theme-primary-cta span {
    display: none;
  }
  .h5p-navigation .h5p-theme-primary-cta:before {
    text-indent: 0;
    position: unset;
    width: 100%;
    opacity: 1;
    transform: translate(0, 0);
  }
  .h5p-navigation .h5p-theme-primary-cta:hover:before {
    text-indent: 0;
    transform: translate(0, 0);
  }
}
/* PRIMARY CTA (USED FOR VALIDATION BUTTONS) */
.h5p-theme-primary-cta {
  padding: var(--spacing-xs) var(--spacing-l) !important;
  background-color: var(--main-cta-base) !important;
  color: var(--contrast-cta) !important;
  border-radius: var(--border-radius-medium) !important;
  font-weight: bold !important;
  cursor: pointer !important;
  font-size: var(--font-size-l) !important;
  transition: all 0.1s linear 0s !important;
  transition-property: text-indent, padding !important;
  border: none !important;
}
.h5p-theme-primary-cta:hover {
  padding: var(--spacing-xs) calc(var(--spacing-l) - 0.75em) !important;
  background-color: var(--main-cta-light) !important;
  text-indent: 1.5em !important;
}
.h5p-theme-primary-cta:active {
  background-color: var(--main-cta-dark) !important;
}
.h5p-theme-primary-cta:before {
  display: inline-block !important;
  position: absolute !important;
  font-family: 'h5p-theme' !important;
  text-indent: -1.5em !important;
  opacity: 0 !important;
  transform: translate(10px, 10px) !important;
  transition: all 0.1s linear 0s !important;
  transition-property: transform, opacity !important;
  font-weight: normal !important;
}
.h5p-theme-primary-cta:hover:before {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}
.h5p-theme-primary-cta.h5p-theme-check:before {
  content: "\e908" !important;
}
.h5p-theme-primary-cta.h5p-theme-book:before {
  content: "\e909" !important;
}
.h5p-theme-primary-cta.h5p-theme-flip:before {
  content: "\e907" !important;
}
.h5p-theme-primary-cta.h5p-theme-show-results:before {
  content: "\e90a" !important;
}
/* If the container is smaller than 200px */
@container (max-width: 200px) {
  .h5p-theme-primary-cta:hover {
    text-indent: 0;
    padding: var(--spacing-s) var(--spacing-l);
  }
  .h5p-theme-primary-cta span {
    display: none;
  }
  .h5p-theme-primary-cta:before {
    position: unset;
    width: 100%;
    opacity: 1;
    transform: translate(var(--spacing-s), 0);
  }
  .h5p-theme-primary-cta:hover:before {
    transform: translate(var(--spacing-s), 0);
  }
}
/* SECONDARY CTA (USED FOR SHOW SOLTUIONS, RETRY AND SIMILAR BUTTONS) */
.h5p-theme-secondary-cta {
  background-color: var(--ui-base) !important;
  color: var(--main-cta-base) !important;
  border-radius: var(--border-radius-medium) !important;
  font-weight: bold !important;
  border: solid 3px var(--main-cta-base) !important;
  padding: var(--spacing-xs) var(--spacing-s) !important;
  font-size: var(--font-size-l) !important;
  transition: all 0.1s linear 0s !important;
  width: fit-content !important;
}
.h5p-theme-secondary-cta:hover {
  background-color: var(--main-cta-base) !important;
  border-color: var(--main-cta-base) !important;
  color: var(--contrast-cta) !important;
  cursor: pointer !important;
}
.h5p-theme-secondary-cta:active {
  background-color: var(--main-cta-dark) !important;
  border-color: var(--main-cta-dark) !important;
  color: var(--contrast-cta) !important;
}
.h5p-theme-secondary-cta:before {
  display: inline-block;
  font-family: 'h5p-theme';
  margin-right: var(--spacing-xxs);
  font-weight: normal;
}
.h5p-theme-secondary-cta.h5p-theme-retry:before {
  content: "\e906";
}
/* USED FOR QUESTION DESCRIPTIONS */
.h5p-theme-question-description {
  font-size: var(--font-size-xl);
  color: var(--text-primary);
  font-weight: 600;
}
/*DUPLICATE used in MC*/
.h5p-theme .h5p-question-introduction {
  font-size: var(--font-size-xl);
  color: var(--text-primary);
  font-weight: 600;
}


/* RESULT SCREEN ANSWERS */
.h5p-theme-results-answer {
  margin-right: 4.5em;
  font-size: var(--font-size-m);
  overflow-wrap: break-word;
  color: var(--text-third);
}

.h5p-theme-results-answer .h5p-theme-results-incorrect,
.h5p-theme-results-answer .h5p-theme-results-correct,
.h5p-theme-results-answer .h5p-theme-results-solution {
  display: inline-block;
  border-radius: var(--border-radius-small);
  padding: calc(var(--spacing-xs)/8) var(--spacing-xs);
  margin-bottom: calc(var(--spacing-xs));
  border: solid 2px;
  font-weight: 600;
  font-size: var(--font-size-m);
}

.h5p-theme-results-answer .h5p-theme-results-correct,
.h5p-theme-results-answer .h5p-theme-results-solution {
  background-color: var(--feedback-correct-secondary);
  color: var(--feedback-correct-main);
  border-color: var(--feedback-correct-third);
}

.h5p-theme-results-answer .h5p-theme-results-incorrect {
  background-color: var(--feedback-incorrect-secondary);
  color: var(--feedback-incorrect-main);
  border-color: var(--feedback-incorrect-third);
  margin-right: 0.5rem;
}

.h5p-theme-results-answer .h5p-theme-results-solution {
  border-style:  dotted !important;
}

.h5p-theme-results-answer .h5p-theme-results-solution .h5p-theme-results-solution-label {
  color: var(--feedback-correct-main);
  font-style: italic;
  font-weight: normal;
}

.h5p-theme-results-answer .h5p-theme-results-box-small {
  color: var(--feedback-correct-main);
}

.h5p-theme-results-answer .h5p-theme-results-box-small:before {
  font-family: 'h5p-theme';
  content: "\e903";
}

.h5p-theme-results-answer .h5p-theme-results-box-small:not(:empty)::before {
  padding-right: 0.5rem;
}

.h5p-theme-results-answer .h5p-theme-results-incorrect.h5p-theme-results-box-small {
  color: var(--feedback-incorrect-main);
}

.h5p-theme-results-answer .h5p-theme-results-incorrect.h5p-theme-results-box-small:before {
  content: "\e902";
}

/* PAGE COUNTER */
.h5p-theme-progress {
  display: table;
  padding: var(--spacing-xxs) var(--spacing-s);
  color: var(--contrast-cta-white);
  font-weight: bold;
  background-color: var(--contrast-cta-light);
  border-radius: var(--border-radius-medium);
}

/*SUMMARY*/
.h5p-theme-results-points {
  color: var(--text-primary);
  font-weight: bold;
  font-size: var(--font-size-m);
}
