@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'h5p-theme';
  src: url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.eot?h1atjl');
  src: url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.eot?h1atjl#iefix') format('embedded-opentype'), url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.ttf?h1atjl') format('truetype'), url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.woff?h1atjl') format('woff'), url('../fonts/h5p-theme-v1.1/fonts/h5p-theme.svg?h1atjl#h5p-core-30') format('svg');
  font-weight: normal;
  font-style: normal;
}

.h5p-content {
  font-family: var(--font-name);
}

/* Form elements don't naturally inherit font-family */
.h5p-content input,
.h5p-content textarea,
.h5p-content button {
  font-family: inherit;
}

/* PATTERN (used in bacgrounds of certain elements like results/summary screens, welcome screen, feedback section etc. */
.h5p-theme-results-banner {
  position: relative;
  display: flex;
  background-color: var(--main-cta-base);
  color: var(--contrast-cta);
  padding: calc(2* var(--spacing-l)) var(--spacing-xl) calc(3* var(--spacing-m)) var(--spacing-xl);
  justify-content: space-between;
}
.h5p-theme-pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-cta-dark);
  opacity: 25%;
  -webkit-mask-image: url(./../images/pattern.svg);
  mask-image: url(./../images/pattern.svg);
  mask-size: 60%;
  background-repeat: repeat;
}
/* INPUT FIELD */
.h5p-theme-input {
  container-type: inline-size;
  display: flex;
  align-items: center;

  background-color: var(--ui-base);
  box-shadow: inset 0px 0px 4px 4px rgba(117, 128, 147, 0.10);
  border-radius: var(--border-radius-medium);
  border: 2px solid var(--stroke-1);
  padding: var(--spacing-xs) var(--spacing-xs);
  color: var(--text-primary);
}
.h5p-theme-input::placeholder {
  color: var(--text-third);
  opacity: 1; /* Firefox */
}
.h5p-theme-input:focus,
.h5p-theme-input:focus-within {
  outline: none;
  box-shadow: 0 0 0.5em 0 #3b54a5b8;
  border-color: var(--focus);
  
}

.h5p-theme-input input {
  display: inline-block;
  width: 100%;
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  font-size: var(--font-size-m);
  word-wrap: break-word;
  border: none;
  background: none;
  color: var(--text-primary);
}

.h5p-theme-input input:focus {
  outline: none;
}

.h5p-theme-input.h5p-correct {
  color: var(--feedback-correct-main) !important;
  background-color: var(--feedback-correct-secondary) !important;
  border-color: var(--feedback-correct-third) !important;
  box-shadow: none;
}
.h5p-theme-input.h5p-correct input {
  color: var(--feedback-correct-main) !important;
  padding: var(--spacing-xs) 0;
}
.h5p-theme-input.h5p-wrong {
  color: var(--feedback-incorrect-main) !important;
  background-color: var(--feedback-incorrect-secondary) !important;
  border-color: var(--feedback-incorrect-third) !important;
  box-shadow: none;
}
.h5p-theme-input.h5p-wrong input {
  color: var(--feedback-incorrect-main) !important;
  padding: var(--spacing-xs) 0;
}

/* NAVIGATION BUTTONS */
.h5p-theme-nav-button {
  background-color: var(--secondary-cta-base) !important;
  color: var(--secondary-contrast-cta) !important;
  font-size: var(--font-size-m);
  font-weight: bold;
  border-radius: var(--border-radius-medium);
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-s);
  border: none;
  transition: all 0.1s linear 0s;

}
.h5p-theme-nav-button:hover {
  background-color: var(--secondary-cta-light) !important;
    cursor: pointer;
}
.h5p-theme-nav-button:active {
  background-color: var(--secondary-cta-dark) !important;
}
.h5p-theme-next:before {
  padding-right: var(--spacing-s);
}
.h5p-theme-previous:before {
  padding-left: var(--spacing-s);
}
.h5p-theme-label {
  display: inline-block;
}
/* PRIMARY CTA (USED FOR VALIDATION BUTTONS) */
.h5p-theme-primary-cta {
  padding: var(--spacing-xs) var(--spacing-xs);
  min-width: calc(var(--spacing-l)*4);
  background-color: var(--main-cta-base);
  color: var(--contrast-cta);
  border-radius: var(--border-radius-medium);
  font-weight: bold;
  cursor: pointer;
  font-size: var(--font-size-xl);
  transition: all 0.1s linear 0s;
  transition-property: text-indent, padding;
  border: none;
}

.h5p-theme-primary-cta:hover {
  background-color: var(--main-cta-light);
  text-indent: 20px;
}
.h5p-theme-primary-cta:active {
  background-color: var(--main-cta-dark) !important;
}
.h5p-theme-primary-cta:before {
  display: inline-block;
  position: absolute;
  font-family: 'h5p-theme';
  text-indent: -30px;
  opacity: 0;
  transform: translate(10px, 10px);
  transition: all 0.1s linear 0s;
  transition-property: transform, opacity;
  font-weight: normal;
}
.h5p-theme-primary-cta:hover:before {
  opacity: 1;
  transform: translate(0, 0);
}
.h5p-theme-primary-cta.h5p-theme-check:before {
  content: "\e908";
}
.h5p-theme-primary-cta.h5p-theme-book:before {
  content: "\e909";
}
.h5p-theme-primary-cta.h5p-theme-flip:before {
  content: "\e907";
}
.h5p-theme-primary-cta.h5p-theme-show-results:before {
  content: "\e90a";
}

/* If the container is smaller than 280px */
@container (max-width: 280px) {
  .h5p-theme-primary-cta {
    min-width: calc(var(--spacing-s)* 4);
  }

  .h5p-theme-primary-cta:hover {
    text-indent: 0;
  }

  .h5p-theme-primary-cta span {
    display: none;
  }

  .h5p-theme-primary-cta:before {
    position: unset;
    width: 100%;
    opacity: 1;
    transform: translate(var(--spacing-s), 0);
  }

  .h5p-theme-primary-cta:hover:before {
    transform: translate(var(--spacing-s), 0);
  }
}

/* SECONDARY CTA (USED FOR SHOW SOLTUIONS, RETRY AND SIMILAR BUTTONS) */
.h5p-theme-secondary-cta {
  background-color: var(--ui-base) !important;
  color: var(--main-cta-base) !important;
  border-radius: var(--border-radius-medium);
  font-weight: bold;
  border: solid 3px var(--main-cta-base) !important;
  padding: var(--spacing-s) var(--spacing-m);
  font-size: var(--font-size-large);
  transition: all 0.1s linear 0s;
  width: fit-content;
}
.h5p-theme-secondary-cta:hover {
  background-color: var(--main-cta-light) !important;
  border-color: var(--main-cta-light) !important;
  color: var(--contrast-cta) !important;
  cursor: pointer;
}
.h5p-theme-secondary-cta:active {
  background-color: var(--main-cta-dark) !important;
  border-color: var(--main-cta-dark) !important;
  color: var(--contrast-cta) !important;
}
.h5p-theme-secondary-cta:before {
  display: inline-block;
  font-family: 'h5p-theme';
  margin-right: 0.5em;
  font-weight: normal;
}
.h5p-theme-secondary-cta.h5p-theme-retry:before {
  content: "\e906";
}

/* USED FOR QUESTION DESCRIPTIONS */
.h5p-theme-question-description {
  font-size: var(--font-size-xl-large);
  color: var(--text-primary);
  font-weight: 600;
}
/* PAGE COUNTER */
.h5p-flashcards .h5p-progress {
  display: table;
  padding:  var(--spacing-xs)  var(--spacing-s);
  color: var(--text-primary);
  font-weight: bold;
  background-color: var(--ui-base);
  border-radius: var(--border-radius-large);
}