body.h5p-semi-fullscreen {
  overflow: hidden;
}
.h5p-content {
  width: 100%;
  height: 100%;
  background: #fefefe;
  font-size: 16px;
}
div.h5p-semi-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}
.h5p-content-controls {
  overflow: hidden;
}
.h5p-enable-fullscreen, .h5p-disable-fullscreen {
  float: right;
  display: block;
  padding: 8px 10px;
  background: #fefefe;
  opacity: 0.8;
  filter: alpha(opacity = 80);
}
.h5p-disable-fullscreen {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 201;
}